body {
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #000;
  font-weight: 500;
}

h2,
h3 {
  color: #d8bb78;
  margin: 5px 0px;
}

p {
  color: #000;
}

.clearfix {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.weather-container {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  margin: 20px 0;
  max-width: 630px;
  padding: 20px 24px 20px 24px;
  background: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  background-color: #000;
}

.btn-primary:hover {
  background-color: #fff;
  color: #000;
  border: #fff;
}

button {
  margin-left: 5px;
  position: relative;
}

.current-location {
  position: relative;
  top: 8px;
  margin-left: 15px;
  background: transparent;
  font-size: 35;
  color: #000;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.current-location:hover {
  color: red;
  cursor: pointer;
}

.weather-icon {
  margin-top: 5px;
  float: left;
  font-size: 64px;
  color: #fda403;
  line-height: 1;
  padding-left: 10px;
}

.weather {
  color: #000;
  float: left;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  padding-left: 10px;
  padding-top: 5px;
}

.current-temp {
  color: #000;
  float: left;
  font-size: 20px;
  font-weight: 400;
  padding-left: 5px;
  margin-top: 10px;
}

.card {
  margin-left: 10px;
  opacity: 80%;
}
.weekly {
  margin-top: 30px;
}

.week {
  font-size: 25px;
  color: rgb(45, 46, 51);
  text-align: center;
  text-transform: uppercase;
}

.week-temp {
  text-align: center;
  color: rgb(129, 127, 127);
  font-size: 18px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sunweek {
  font-size: 30px;
  color: #fda403;
}

.rainweek {
  font-size: 30px;
  color: #00bfff;
}

.heavyweek {
  font-size: 30px;
  color: #0d4f8b;
}

.cloudweek {
  font-size: 30px;
  color: lightgrey;
}
